@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f4ee;
  --foreground: #7d6c5d;
  --primary: #eaddcf;
  --secondary: #dcd0c0;
  --accent: #c9b7a2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
